<!DOCTYPE html>
<html>
  <head>

    <title>Iniciar sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1>Spark Live Chat</h1>
    <h5>Desarrollado por César Gil Hernando</h5>
    <h3>Iniciar sesión</h3>
    <div id="error-message">
      <% if (errorMessage) { %>
        <p><%= errorMessage %></p>
      <% } %>
    </div>
    
    <form action="/login" method="post">
        <p>Ingrese su nombre de usuario</p>
        <input type="text" name="username" id="username">
        <p>Ingrese su contraseña</p>
        <input type="password" name="password" id="password">
        <input type="submit" value="Iniciar sesión">
    </form>

    <p>¿No tienes una cuenta? <a href="/register">Registrate aquí.</a></p>
  </body>
</html>