<!DOCTYPE html>
<html>
  <head>

    <title>Iniciar sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h3>Iniciar sesión</h3>
    
    <form action="/login" method="post">
        <label for="username">Ingrese su nombre de usuario</label>
        <input type="text" name="username" id="username">
        <label for="password">Ingrese su contraseña</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Iniciar sesión">
    </form>
  </body>
</html>